/* // author: Ferdowsi Rumi 301168815
// assignment 4: Form validation */

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: "Cabin", "sans-serif", "Verdana";
    max-width: 100vw;
    margin: auto;
}


/* begin header*/

.container {
    border-radius: 0px;
    background-color: #058e3f;
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.score{
    height:auto;
}
.left-column{
    float:left;
    margin:20px;   
}
.right-column{
    float:right;
    margin:20px;   
}
span.score {
    display: inline;
     border: 1px solid #4CAF50;
    padding: 12px 50px;
    border-radius: 5px;

  
  }

  .button{
    background-color: #4CAF50; 
    border: none;
    padding: 15px 50px;
    margin-left:10px;
    color:white; 
    border-radius: 5px;
  }
  .text{
      margin-right:10px;
      font-size:22px;
      font-weight: 400;
    color:#4CAF50;

  }


      

@media screen and (max-width: 900px) {
    .container {
        padding-bottom: 30px;
    }
    .row {
        width: 100%;
        padding: 10px;
    }
    .right-column{
        float:left;
    }
    .references {
        width: 100%;
        text-align: center;
    }
    .ref-content {
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 10px;
    }
    .ref-icon {
        display: block;
        width: 100%;
        margin: auto;
    }
}

.nav {
    height: 40px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    /* background: green; */
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    margin-top: -10px;
    /* font-size: 16px; */
    color: #fff;
    /* padding: 5px 10px 5px 10px; */
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #fff !important;
    font-size: 10px !important;
    line-height: 30px !important;
    text-transform: uppercase;
    font-weight: 700;
}

.round {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    padding: 5px 10px;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav {
        width: 100%;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #04724d;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .round {
        border: 1px solid white;
        display: block;
        width: 100%;
        border: none;
        text-align: start;
    }
    .nav>#nav-check:not(:checked)+.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked+.nav-links {
        height: calc(30vh - 50px);
        overflow-y: auto;
    }
}


/* End white-section*/


/* begin section-grey */

.section-gray {
    position: relative;
background-image: url(img/macro3.jpg);
    background-size: cover;
    padding: 30px 0 70px 0;
    width: 100%;
    height: auto;    
}

.section-tittle {
    text-align: center;
}

.section-tittle h2 {
    color: #292929;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #023e8a;
}

.main-services {
    float: left;
    width: 100%;
    height: auto;
    min-height: 320px;
    color: #333333;
    font-size: 20px;
    margin: 0px 6px;
    margin-top: 30px;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
}

.main-services a {
    font-size: 12px;
    font-weight: 900;
    color: #292929;
    margin: 5px;
    text-decoration: underline;
    color: #bb0000;
    display: block;
}



@media screen and (max-width: 900px) {
    .section-gray {
        padding: 55px 10px 55px 10px;
        width: 100%;
    }
    .main-services {
        width: 100%;
        display: block;
        padding: 10px;
        margin: 10px auto auto auto;
        padding: 50px 30px 40px 30px;
    }
    .section-slide {
        width: 100%;
        display: block;
    }
    .section-price {
        width: 100%;
        display: block;
    }
}


/* End section-grey */

.footer {
    width: 100%;
    margin: auto;
    height: auto;
}

.footer-distributed {
    background: #058e3f;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 28%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Open Sans", cursive;
    margin: -20px;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin-bottom: 2px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 45%;
    margin: auto;
}

.footer-distributed .footer-center i {
    /* background-color: #90e0ef;
    color: #ffffff; */
    background-color: #ffffff;
    color: #058e3f;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 5px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    width: 25%;
}

.footer-distributed .footer-about-me {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-about-me span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 15px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 20px;
    color: #058e3f;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-copyright {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.references {
    margin: auto;
    width: 100%;
}

.references h5 {
    padding: 2px;
    margin: 0px;
}

.ref-icon {
    display: inline-block;
    padding: 5px;
    width: auto;
    vertical-align: top;
    margin-top: -20px;
}

.ref-content {
    display: inline-block;
    padding: 5px;
    width: 98%;
    vertical-align: middle;
    color: white;
    font-size: 11px;
    margin-top: -20px;
}

.ref-content p a {
    color: #ffffff;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
    text-align: center;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    ;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.form button {
    background-color: #219ebc;
    border: 2px solid #219ebc;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.submission {
    /* margin-top: 50px; */
    text-align: center;
    display: block;
}

.submission > div {
    margin-left: 20px;
    margin-bottom: 15px;
    width: 200px;
    display: inline-block;
}

.validationError {
    background-color: #dc2f02;
    color: white;
    border-radius: 2px;
    padding:6px;
}

.validationSuccess {
    background-color: #56CC71;
    color: white;
    border-radius: 2px;
}

::placeholder {
    font-size: 11px;
    color: dimgrey;
}

.bettle{
    position: absolute;
    /* width: 45px;
    height:20px; */
    /* top: 25%;
    left: 20%; */
    /* background-image: url(img/beetle.png); */
    /* z-index:200; */
    /* background-repeat: repeat; */
}

